@charset "utf-8";
/* CSS Document */
/***********************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, ection, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
html{
	background-image:url(../img/fondoloop.jpg);
	}
body {
	line-height: 1;
	background-image:url(../img/fondogral.jpg);
	background-repeat:repeat-x;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0; font-size: 12px !important;}
/***********************************************/
#wraper{
	width:1024px;
	margin:0px auto;
	overflow:hidden;
	}
#head{
	/*z-index:110;*/
	}
#cuerpo{
	overflow:hidden;
	}
/*-----------------------------*/
#cont{
	font-family:Arial, Helvetica, sans-serif;
	color:#7c7356;
	background-color:#161616;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:30px;
	padding-top:30px;
	overflow:hidden;
	border-left:#000 solid 1px;
	border-right:#000 solid 1px;
	}
#colizq{
	font-size:12px;
	text-align:justify;
	width:460px;
	float:left;
	padding-right:11px;
	}
#coldere{
	width:440px;
	float:left;
	margin-left:31px;
	}
.titulo{
	overflow:hidden;
	padding-bottom:15px;
	padding-top:15px;
	}
.arrow{
	float:left;
	}
.titutitu{
	padding-top:9px;
	padding-left:10px;
	color:#dad9d9;
	float:left;
	font-size:17px;
	font-weight:bold;
	}
/*caja general*/
/*.caja2 {background:#f8f5ec; padding:0;width:190px;border-radius:7px;-moz-border-radius: 7px; -webkit-border-radius : 7px; border:#a83928 solid 3px; float:left; margin:8px;}*/
.cajax{
	float:left;
	margin:8px;
	}
div#rounded-box1 {background:transparent;padding:0;width:200px;}
.rb4 {background:#edeae1;margin:0 auto;padding:0;width:198px;height:3px;}
.rb3 {background:#edeae1;margin:0 auto;padding:0;width:196px;height:2px;}
.rb2 {background:#edeae1;margin:0 auto;padding:0;width:192px;height:1px;}
.rb1 {background:#edeae1;margin:0 auto;padding:0;width:188px;height:1px;}
.rb-content {background:#edeae1;padding:0;width:200px;}
.stilcont{
	padding:10px;
	}
/*finde caja general*/
.menulat{
	width:222px;
	height:561px;
	background-color:#069;
	float:left;

	}
.prods{
	width:770px;
	float:right;
	padding-left:30px;
	}
/*caja general*/
/*.caja2 {background:#f8f5ec; padding:0;width:190px;border-radius:7px;-moz-border-radius: 7px; -webkit-border-radius : 7px; border:#a83928 solid 3px; float:left; margin:8px;}*/
.cajax-2{
	float:left;
	margin:8px;
	overflow:hidden;
	}
div#rounded-box1-2 {background:transparent;padding:0;width:350px;}
.rb4-2 {background:#edeae1;margin:0 auto;padding:0;width:348px;height:3px;}
.rb3-2 {background:#edeae1;margin:0 auto;padding:0;width:346px;height:2px;}
.rb2-2 {background:#edeae1;margin:0 auto;padding:0;width:342px;height:1px;}
.rb1-2 {background:#edeae1;margin:0 auto;padding:0;width:338px;height:1px;}
.rb-content-2 {background:#edeae1;padding:0;width:350px;}
.stilcont-2{
	padding:10px;
	overflow:hidden;
	}
.colizqc{
	float:left;
	}
.colderc{
	width:200px;;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	padding-left:10px;
	padding-right:10px;
	}
.titupro{
	font-weight:bold;
	font-size:13px;
	color:#543416;
	padding-bottom:10px;
	padding-top:10px;
	}
.desc{
	color:#8B4B25;
	font-size:11px;
	padding-bottom:10px;
	padding-top:10px;
	}
.precio{
	text-align:right;
	font-size:19px;
	padding-bottom:10px;
	padding-top:10px;
	color:#990000;
	}
/*finde caja general*/
/*Somos*/
#somos{
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../img/fbodyint.jpg);
	border-left:#000 solid 1px;
	border-right:#000 solid 1px;
	padding-left:15px;
	padding-right:15px;
	padding-top:25px;
	}
.trozodet{
	padding-top:25px;
	color:#7c7356;
	font-size:12px;
	text-align:justify;
	padding-bottom:25px;
	}
#puntos{
	height:10px;
	background-image:url(../img/points.jpg);
	}
#titu2{
	padding-top:25px;
	color:#b6b1a1;
	font-weight:bold;
	}
#txtypic{
	overflow:hidden;
	}
#txtsomos{
	padding-top:25px;
	color:#7c7356;
	width:715px;
	float:left;
	font-size:12px;
	text-align:justify;
	margin-right:35px;
	}
#picsomos{
	padding-top:25px;
	width:232px;
	float:left;
	padding-bottom:25px;
	}
#titu3somos{
	font-weight:bold;

	}
/**************************/
/*formulario de contacto*/
#contcenter{
	overflow:hidden;
	}
#col1{
	float:left;
	width:315px;
	/*background:#333333;*/
	}
#col2{
	float:left;
	width:645px;
	}
/**/
#nameform{
	font-weight:bold;
	color:#7C7356;
	font-size:14px;
	padding-left:15px;
	padding-top:20px;
	padding-bottom:25px;
	}
#formulariox{}
.tag1{
	width:300px;
	padding-left:15px;
	font-size:11px;
	color:#7C7356;
	margin-bottom:6px;
	}
.tag2{
	width:300px;
	padding-left:15px;
	padding-bottom:15px;
	}
.cajas{
	font-size:12px;
	background-color:#fff;
	padding:3px;
	width:250px;
	border:1px solid #CCC;
	}
.cajasx{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	background-color:#fff;
	padding:3px;
	width:250px;
	border:1px solid #CCC;
	}
.btns{
	background-color:#7C7356;
	font-size:12px;
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	color:#fff;
	border:0 none;
	}
	/**/
#nameform2{
	font-weight:bold;
	color:#069;
	font-size:14px;
	padding-top:20px;
	padding-bottom:25px;
	}
#pic{
	padding-top:13px;
	}
#colsint{
	font-size:12px;
	padding-top:15px;
	}
#colcita{
	float:left;
	padding-right:25px;
	}
#colcita2{
	float:left;
	}
.tituz{

	color:#0066CC;
	font-weight:bold;
	}
.infox{
	padding-top:15px;
	color:#7C7356;
	font-size:11px;
	}
.msg{
	padding-left:15px;
	font-size:11px;
	color:#F00;
	padding-bottom:15px;
	}
#map{
	width:597px;
	height:288px;
	}
/**************************/
